.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  color: white;
  background-image: url("../images/partida.jpg");
  background-position: center center;
}

.boot-logo {
  width: 50%;
  margin: auto;
  text-align: center;
}
.derecha {
  text-align:right;
}
.container {
  width: 50%;
  margin: auto;
}

.container2 {
  width: 60%;
  margin: 50px auto;
  
}

.imagen2 {
  max-height: 500px;
}

@media screen and (max-width: $mqPeque) {
  .container2 {
    width: 95%;
    margin:auto;
  }
}