.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;

  color: white;

  background-image: url("../images/partida.jpg");
  background-position: center center;
  
}

.boot-logo {
  width: 50%;
  margin: auto;
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
}

.circulo {
  display: flex;
  align-items: center;
	justify-content: center;
  width: 2rem;
	height: 2rem;
  
  
    border: 1px solid lightgray;
	border-radius: 50%;
  	
}
