.footer1 {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 6em;

    
}

.footer2 {
  
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 80%;
  margin: auto;
  border-top: 1px solid gray;


  & div {
    display: flex;
    align-items: center;
    
  }


  &__logo2 {
    max-width: 200px;
    max-height: 100px;
    background-color: white;
    
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  &__social--icono {
    height: 1.5em;
    padding: 10px;
  }

}
