* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  line-height: 24px;
}


.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@supports (display:grid) {



  .imagen {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
  }

  .imagen2 {
    grid-row: 2 / 4;
    grid-column: 1 / -1;
  }


  .descripcion {
    grid-row: 3;
    grid-column: 2;
    padding: 10px;
    color: white;

    h1 {
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  .navega1 {
    grid-row: 1;
    grid-column: 3;
  }



  @media screen and (max-width:$mqMinWidth) {

    .contenedor {
      width: 100%;

    }

    .navega1 {
      grid-column: 2;
    }

    .descripcion {
      grid-row: 3;
      grid-column: 1/4;
      width: 80%;
      margin: auto;
    }


  }

}
