* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  line-height: 24px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.flexcontenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;

  &__bloque {
    width: 300px;
    font-size: 0.6em;
    text-align: center;
  }

  &__bloque--user {
    max-width: 100px;
  }
}

.titulo {
  padding: 1em;
  text-align: center;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

.hidden {
  display: none;
}

@mixin figura($float) {
  float:$float;
  border-radius: 10%;
}

.figura1 {
  @include figura(right);
  max-height: 150px;
  margin-left: 2em;
}

.figura2 {
  @include figura(left);
  max-width: 150px;
  margin: 1em 1em 1em 0;
 }

@supports (display: grid) {
  .imagen {
    grid-row: 1 / 4;
    grid-column: 1 / -1;
  }

  .imagen2 {
    grid-row: 2 / 4;
    grid-column: 1 / -1;
  }

  .descripcion {
    grid-row: 3;
    grid-column: 2;
    padding: 10px;
    color: white;
  }

  .navega1 {
    grid-row: 1;
    grid-column: 3;
  }

  .navega2 {
    grid-row: 1;
    grid-column: 1/-1;
  }
}

  @media screen and (max-width: $mqMinWidth) {
    .contenedor {
      width: 100%;
    }
    
    @supports (display: grid) {
    .navega1 {
      grid-column: 2;
    }

    .descripcion {
      grid-row: 2;
      grid-column: 1/4;
      width: 80%;
      margin: 40px auto;
    }
  }
}

