.navega2 {
  width: 100%;
  font-weight: bold;


  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none; 
    
   &--item {
    padding-left: 2em;
   }  
  }
    

}
