.navega2 {
  width: 100%;
  font-weight: bold;
  
@mixin cuerpo($justify) {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:$justify;
    padding-top:10px;
    list-style-type: none;
}

  &__footer {
     @include cuerpo(space-between);
  }

  &__header {
    @include cuerpo(flex-end);
        
   &--item {
    padding-left: 2em;
   }  
  }
   
}

