<div class="footer1">
    <p>
        PEC2 - Herramientas HTML y CSS II - Juan Ferrer Martínez -
        <a href="mailto:juanferrer437@uoc.edu">juanferrer437@uoc.edu</a> - UOC
        2023
    </p>
</div>

<div class="footer2">
    <div>
        <img src="./assets/images/logo.png" class="footer2__logo2"/>
    </div>
    <div>
        <nav class="navega2">
            <ul>
                <li><a href="./index.html">Front Page</a></li>
                <li><a href="./two.html">Page Two</a></li>
                <li><a href="./three.html">Page Three</a></li>
                <li><a href="./four.html">Page Four</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer2__social">
        <a href="https://www.google.es/"
            ><i class="fab fa-google-plus footer2__social--icono"></i
        ></a>
        <a href="https://www.facebook.com/"
            ><i class="fab fa-facebook footer2__social--icono"></i
        ></a>
        <a href="https://twitter.com/?lang=es"
            ><i class="fab fa-twitter footer2__social--icono"></i
        ></a>
    </div>
</div>
